{% extends 'simple.html' %}
{% load static %}

{% block page_labeling %}
  <title>500 | GXU标注平台</title>
  {{ block.super }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/error.css' %}"/>
{% endblock %}


{% block content %}
<div class="ls-global-error">
  <h1>Uh oh, something went wrong.</h1>
  <h2>Here’s a few things you can try:</h2>
  <p class="ls-global-error__actions">
    <button onClick="history.back()">Go Back</button>
    <button onClick="location.reload()">Refresh</button>
    <button onClick="window.location.href='/'" class="ls-global-error__primary_button">Go to Home</button>
  </p>
</div>
{% endblock %}
