{% extends 'users/user_base.html' %}

{% block user_content %}
<form id="login-form" action="{% url 'user-login' %}?next={{ next }}" method="post">
  {% csrf_token %}
  <p><input type="text" class="lsf-input-ls" name="email" id="email" placeholder="邮箱地址" value="{{ form.data.email }}" autocomplete="email"></p>
  <p><input type="password" class="lsf-input-ls" name="password" id="password" placeholder="密码" autocomplete="current-password"></p>
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <p>
    <input type="checkbox" id="persist_session" name="persist_session" class="lsf-checkbox-ls" checked="checked" style="width: auto;" />
    <label for="persist_session">在此浏览器中保持登录状态</label>
  </p>
  <p><button type="submit" aria-label="登录" class="lsf-button-ls lsf-button-ls_look_primary">登录</button></p>
</form>
{% endblock %}
